<li class="list-group-item">
	<div class="row">
		<div class="col-md-1">
			{{#link-to 'programs' class="btn btn-primary" role="button"}}{{fa-icon "fa-list-alt" size="lg"}}<br><small>Details</small>{{/link-to}}
		</div>
		<div class="col-md-11">
			<strong>{{#link-to 'programs.program' program.id}}{{program.institution}} - {{program.program}}{{/link-to}}</strong><br>
			{{program.degree_cert}}<br>
			<small>{{program.location}}. ({{program.instruction_delivery}})</small><br>
			<small>Duration: {{program.duration}}</small><br>
			<small>Cost: {{program.cost}}</small>
		</div>
	</div>
</li>