<li class="list-group-item">
	<div class="row">
		<div class="col-md-1">
			<img src={{program.branchImage}} alt={{program.branch}} width=75>
		</div>
		<div class="col-md-11">
			<strong>{{program.institution}} - {{program.program}}</strong><br>
			<small>{{program.location}}. ({{program.instruction_delivery}})</small><br>
			<small>Duration: {{program.duration}}</small><br>
			<small>Cost: {{program.cost}}</small>
		</div>
	</div>
</li>