<ol class="breadcrumb">
  <li>{{#link-to 'application'}}Home{{/link-to}}</li>
  <li>{{#link-to 'programs'}}Inventory{{/link-to}}</li>
  <li class="active">{{model.institution}} - {{model.program}}</li>
</ol>
<h2>
	<i class="fa fa-list-alt"></i> Program Information
	{{#if session.isAuthenticated}}
	<span class="pull-right">
		{{#link-to 'programs.edit' model.id}}
		<button type="button" class="btn btn-primary">
			<i class="glyphicon glyphicon-edit"></i>
		</button>
		{{/link-to}}
	</span>
	{{/if}}
</h2>
<div class="table-responsive">
	<table class="table table-striped">
		<tbody>
			<tr>
				<td>School</td>
				<td><a href={{model.institution_url}} target="_blank">{{model.institution}}</a></td>
			</tr>
			<tr>
				<td>Program</td>
				<td><a href={{model.program_url}} target="_blank">{{model.program}}</a></td>
			</tr>
			<tr>
				<td>Degree Type</td>
				<td>{{model.degree_cert}}</td>
			</tr>
			<tr>
				<td>Delivery Mode</td>
				<td>{{model.instruction_delivery}}</td>
			</tr>
			<tr>
				<td>Main Campus Location</td>
				<td>{{model.location}}</td>
			</tr>
			<tr>
				<td>Duration</td>
				<td>{{model.duration}}</td>
			</tr>
			<tr>
				<td>Cost</td>
				<td>{{model.cost}}</td>
			</tr>
			<tr>
				<td>Prerequisites</td>
				<td>{{model.prerequisites}}</td>
			</tr>
			<tr>
				<td>Outcomes</td>
				<td>{{model.outcomes}}</td>
			</tr>
			<tr>
				<td>Accreditation</td>
				<td>{{model.accreditation}}</td>
			</tr>
			<tr>
				<td>Contact</td>
				<td>{{model.contact}}</td>
			</tr>
		</tbody>
	</table>
</div>